export PROJECT_NAME=string
export SMTP_PORT=number
export EMAILS_ENABLED=boolean
export SMTP_HOST=string
export SMTP_USER=string
export SMTP_PASSWORD=string
export EMAILS_FROM_EMAIL=string
export EMAILS_FROM_NAME=string

export FIRST_SUPERUSER=string
export FIRST_SUPERUSER_PASSWORD=string