[Unit]
Description=gunicorn uvicorn service for InstEdu Service API
After=syslog.target

[Service]
ExecStart=/bin/bash -c "/apps/inst_edu_backend/app/server/scripts/server_start.sh"

# \/ \/ <- Added post recording for better restart perf.
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# /\ /\ <- Added post recording for better restart perf.

# Requires systemd version 211 or newer
RuntimeDirectory=/apps/inst_edu_backend
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all


[Install]
WantedBy=multi-user.target