[Unit]
Description=gunicorn uvicorn service for InstEdu Service API
After=syslog.target

[Service]
EnvironmentFile=/apps/inst_edu_backend/.env
ExecStart=/apps/venv/bin/gunicorn -b 127.0.0.1:8000 -w 4 -k uvicorn.workers.UvicornWorker main:api --name instedu_svc --chdir /apps/inst_edu_backend/app --access-logfile /apps/logs/instedu_api/access.log --error-logfile /apps/logs/instedu_api/errors.log --user apiuser

# \/ \/ <- Added post recording for better restart perf.
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# /\ /\ <- Added post recording for better restart perf.

# Requires systemd version 211 or newer
RuntimeDirectory=/apps/inst_edu_backend
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all


[Install]
WantedBy=multi-user.target